{%extends 'main/base.html'%}
{%block title%}
main page
{%endblock%}
{%block content%}
<div class="t-container">
    <a name = 'about'></a>
    <div class="t-col t-col_4 t-prefix_2">
        <div class="t195__text t-text t-text_md" style="" field="text">
            <div style="font-size: 26px; line-height: 54px;" data-customstyle="yes"><p style="text-align: left;"><strong
                    style="font-size: 34px;">Чем мы занимаемся :</strong></p>
                <ol>
                    <li style="text-align: left;"><span style="font-size: 30px;">Создание сайтов и рассылок</span></li>
                    <li style="text-align: left;"><span style="font-size: 30px;">Автоматизированный сбор данных с сайтов(парсинг)</span>
                    </li>
                    <li style="text-align: left;"><span style="font-size: 30px;">IT решения для автоматизации вашего бизнеса</span>
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <div class="t-col t-col_6 t195__imgsection" itemscope="" itemtype="http://schema.org/ImageObject">
        <meta itemprop="image"
              content="https://static.tildacdn.info/tild3361-3266-4434-a539-323234626663/Kulagin_Studio_1.png">
        <img class="t195__img t-img loaded" data-tu-max-width="1200" data-tu-max-height="1200"
             src="https://thumb.tildacdn.com/tild3361-3266-4434-a539-323234626663/-/resize/500x/-/format/webp/Kulagin_Studio_1.png"
             data-original="https://static.tildacdn.info/tild3361-3266-4434-a539-323234626663/Kulagin_Studio_1.png"
             imgfield="img"><br>
        <div class="t195__sectitle t-descr" style="" field="imgtitle" itemprop="name"></div>
        <div class="t195__secdescr t-descr" style="" field="imgdescr" itemprop="description"></div>
    </div>
</div>
<div >
    <a name = 'Our Services'></a>
    <h1>Our Services:</h1>
    <h3>parsing</h3>
    <h3>sitemade</h3>
    <h3>android-app</h3>
</div>
{%endblock%}
